@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


:root{
    --background-color: #ffffff;
    --section-background-color: #F3F6FF;
    --text-color: #565973;
    --muted-text-color: #9397AD;
    --headline-color: #0B0F19;
    --border-color: #E2E5F1;

    --dark-text-color: #131022;


    --button-color: #6366F1;
    --link-color: #6366F1;
    --green-link-color: #2CD9A1;

    --store-button-color: #131022;
}


[data-theme="dark"]{
    --background-color: #0B0F19;
    --section-background-color: #0f1421;
    --text-color: #ffffff;
    --headline-color: white;

    --store-button-color: #EFF2FC;
}


html, body {
    background-color: var(--background-color);
    color:var(--text-color);
    
    font-family: "Manrope";
}


h1,h2,h3,h4,h5{
    color: var(--headline-color);
    font-family: "Manrope";
    margin: 0px;
}

h1{
    font-weight: 800;
    font-size: 56px;
}

h2{
    font-weight: 800;
    font-size: 40px;
}

h3{
    font-weight: 800;
    font-size: 20px;
}

h4{
    font-weight: 800;
    font-size: 24px;
}

h5{
    font-weight: 800;
    font-size: 32px;
}


p{
    font-family: "Manrope";
    font-weight: 400;
    font-size: 18px;
    color:var(--text-color);
    margin: 0px;
}


a{
    color: var(--link-color);
    text-decoration: none;

    transition: all 0.15s ease-in-ease-out;

    &:hover{
        text-decoration: underline;
        transition: all 0.15s ease-in-ease-out;
    }
}





.wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;

    @media(width >= 768px)
    {
        width: 720px;
    }

    @media(width >= 1400px)
    {
        width: 1320px;
    }
}



header{
    .container{
        padding: 2rem 0;
        display: grid;
        gap: 2rem;
        align-items: center;
        grid-template-columns: 1fr auto auto;
        grid-template-areas: "logo darkmode hamburger";

        @media(width >= 768px){
            grid-template-columns: 1fr auto auto;
            grid-template-areas: "logo darkmode hamburger";
        }

        @media(width >= 1400px){
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo nav darkmode account";
        }
    }


    .logo{
        grid-area: logo;
        display:flex;
        align-items:center;
        gap:0.5rem;
        color: var(--headline-color);
        font-size: 900;
    }


    .main-nav{
        grid-area: nav;
        display: none;
        font-size: 16px;
        font-weight: 600;

        align-items: center;
        gap: 1rem;

        a{
            color: var(--text-color);
        }

        @media(width >= 1400px){
            display:flex;
        }
    }


    .darkmode{
        grid-area: darkmode;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        
        .switch-text{
            display: none;
            font-weight: 600;
            color: var(--headline-color);

            @media(width >= 768px){
                display: flex;
            }

            @media(width >= 1400px){
                color: var(--text-color)
            }
        }
    }


    .account-button {
        grid-area: account;
        display: none;

        .person{

        }

        @media(width >= 1400px){
            display:block;
        }
    }


    .hamburger-button{
        grid-area: hamburger;
        display: block;  

        
        width: 50px;
        height: 50px;


        transition: background-color 0.15s ease-in-ease-out, border 0,15s ease-in-ease-out, color 0.15s ease-in-ease-out;
        border: 1px solid transparent;


        &:hover{
            border: 1px solid var(--border-color);    
        }
        

        @media (width >= 1400px){
            display: none;
        }

    }
}



footer{
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 400px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 75px 0;
    text-align: center;


    p{
        color: var(--muted-text-color);
    }
}


button{
    size: 5rem;
    border-color: transparent;
    background-color: transparent;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}


.btn{
    color: #ffffff;
    background-color: var(--button-color);
    font-weight: 600;
    font-size: 14px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    transition-duration: 0.4s;

    gap:0.5rem;


    display:flex;
    justify-content: center;
    align-items: center;


    i{
        margin-left:1px;
        color: #ffffff;        
    }
}



.btn:hover{
    background-color: violet;
}

.person{
    color: #ffffff;
}

.right-arrow{
    color: #ffffff;
}





#manage-section{

    .container{
        display: grid;
        grid-template-columns: auto 1fr;

        margin-top: 50px;
        gap: 2rem;

    }
    

    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 82%, rgba(255,255,255,0) 100%);


    .manage-content{
        width: auto;
        height: auto;
        display: grid;
        grid-template-rows: auto auto auto 1fr;
        gap: 2rem;
    }

    h1{
        width: 500px;
        height: auto;
    }

    .manage-text{
        margin-bottom: 20px;
    }

    .store-buttons{
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
    }


    .store-button{
        background-color: var(--store-button-color);
        border-radius: 8px;
        padding: 1rem 2rem;

        display: flex;
        flex-flow: row nowrap;
    }


    .discover-more-button{
        display: flex;
        align-items: center;

        flex-flow: row nowrap;

        justify-content: flex-start;
        margin-top: 200px;

        img{
            display: flex;
            align-items: center;
            justify-content: center;

        }

        p{
            display: flex;
            align-items: center;
            justify-content: center;


            font-size: 14px;
            margin-bottom: 5px;
        }

        a{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }
    }


    .phones1{
        display:none;
        height: 688px;
        width: 736px;

        align-items: flex-end;
        justify-content: flex-end;

        @media(width >= 768px){
            display: flex;
        }
    }

    @media(width >= 768px){
        text-align: left;
    }
}



#features-section{
    padding: 0 0;
    height: auto;


    @media(width >= 768px){
        padding: 100px 0;
    }


    h2, h3, p{
        margin: 0px;
        gap: 50px;
    }

    h2{
        margin-bottom: 20px;
    }

    p{
        
        line-height: 1.5;
    }

    h3{
        margin-bottom: 10px;
    }


    .brands{
        display: none;
        align-items: center;
        justify-content: space-between;
    
    
        .brand{
            border: 1px solid var(--border-color);
            border-radius: 8px;
            height: 100px;
            width: 196px;
            display:flex;
            justify-content: center;
            align-items: center;
    
        }
        
        @media (width >= 768px){
            display: flex;
            flex-flow: row wrap;
    
            @media (width >= 1400px){
                display: flex;
                flex-direction: row;
            }
        }
    }


    .features-body{
        gap: 202px;
        display:flex;

        @media(width >= 768px){
            padding: 110px 0;
        }

        
    }


    .features-phone{
        display:none;

        @media(width >= 1400px){
            display: flex;
        }
    }


    .features-info{
        display:flex;
        flex-direction: column;
        
        gap: 60px;
        
        justify-content: center;
        align-items: center;


        width: 746px;
        height: 640px;
    }


    .features-title{
        text-align: center;

        p{
            color: var(--muted-text-color)
        }

        @media(width >= 1400px){
            text-align: left;
        }
    }


    .features-table{
        display: flex;
        flex-flow: row wrap;
        gap: 30px;
        justify-content: center;
        align-items: center;

        p{
            font-size: 16px;
            color:var(--text-color)
        }

        @media(width >= 768px){
            justify-content: space-between;
            align-items: center;
        }
    }


    .feature{
        display:flex;
        flex-flow: row wrap;
        align-items: start;
        gap: 20px;
    }


    .feature-text{
        display: flex;
        width: 261px;
        height: 118px;
        flex-flow: column nowrap;

        p{
            display: flex;
            flex-flow: column wrap;
        }

        @media(width >= 768px){
            flex-flow: column wrap;
        }
    }
}



#how-does-it-work-section{
    background-color: var(--section-background-color);


    .container{
        display:flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
        gap: 2rem;
        text-align: center;
    }
    

    .image-slider{
        display:flex;
        flex-flow: row nowrap;
        justify-content: center;

        img{
            width: auto;
            height: 411px;
        }


        @media(width >= 1400px){
            display: flex;
            justify-content: space-between;

            img{
                width: auto;
                height: 100%;
            }
        }
    }


    p{
        font-size:16px;
    }


    #image-slide1, #image-slide3{
        display:none;

        @media(width >= 768px){
            display: flex;
        }
    }


    .desktop-text{
        display:none;
        text-align: center;
        flex-flow: column wrap;

        @media(width >= 768px){
            display: flex;
        }
    }


    .mobile-text{
        display:flex;
        text-align: center;
        flex-flow: column wrap;

        @media(width >= 768px){
            display: none;
        }
    }
}



#money-transfer-section{
    padding: 4rem 0;
    display:none;



    .container{
        display: grid;
        gap: 2rem;
        row-gap: 8rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "column column";


        .column{
            display:flex;
            justify-content: center;
            align-items: center;
            

            .content{
                width:60%;
            }
        }
    }


    .section-body{
        display:grid;
        gap: 2rem;

        img{
            color: var(--button-color)
        }


        ul{
            li{

            }
        }
    }

    
    .checklist{
        margin:0;
        padding:0;
        list-style: none;

        li{
            display:flex;
            gap: 1rem;
            align-items: center;
            margin-bottom: 0.5rem;

            i{
                color: var(--button-color)
            }

            p{

            }
        }
    }


    .image-container{
        display:none;
        position:relative;



        @media(width >= 768px){
            display: grid;
        }

        #moneytransferA2{
            position: absolute;
            right: -40px;
            bottom: -50px;
        }

        #moneytransferB2{
            position: absolute;
            right: -50px;
            bottom: 50px;
        }
    }


    .content{

    }


    .column{
        display:flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .features{
        display: flex;

        .feature{
            
        }


    }


    .learn-more-button{
        display:flex;
        align-self: flex-start;
    }

    .btn{
        min-width: 200px;
        min-height: 50px;

        height: 38px;
        width: 159px;
    }



    @media(width >= 1400px){
        display:flex;
    }
}



#clients-section{
    display:none;
    background-color: var(--section-background-color);
    padding: 100px 0;
    flex-flow: row nowrap;
    align-items: center;

    @media(width >= 1400px){
        display: flex;
        flex-flow: row nowrap;
    }

    

    .review{
        background-color: #ffffff;
        border-radius: 8px;
        padding: 2rem;	
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        text-align: center;

        width: 100px;

    }
}



#faq-section{
    .container{
        padding: 100px 0;

        display: grid;
        grid-template-columns: 1fr auto;
        
    }

    .faq-content{
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;

    }

    h5{
        width: 320px;
        height: auto;
    }

    .link-boxes{
        display:flex;
        flex-flow:row nowrap;
        gap: 2rem;
    }


    .link-box{
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        
        max-width: 196px;
        max-height: 166px;
        min-width: 196px;
        min-height: 166px;
        padding: 24px;

        p{
            font-size: 14px;
        }

        border: 1px solid var(--border-color);
        border-radius: 8px;

        a{
            font-size: 14px;
            font-weight: 600;
        }

        img{
            width: 28px;
            height: 28px;
        }
    }


    .purple-link{
        color: var(--link-color);
    }

    .green-link{
        color: var(--green-link-color);
    }


    .faq-boxes{
        
    }

}



.subscribe-bar{
    h4{
        margin: 0px;
    }



    .container{
        background-color: var(--section-background-color);
        border-radius: 8px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 3rem 0;

        padding-left: 0;
        padding-right: 0;

        @media(width >= 768px){
            flex-flow: row nowrap;

            gap: 1rem;
        }

        @media(width >= 1400px){
            gap: 2rem;
        }
    }



    .content-container{
        display:grid;
        grid-template-columns: auto 200px;
        align-items: center;
        gap: 2rem;

        

        @media(width >= 1400px){
            grid-template-columns: auto 500px;
            gap: 1rem;
        }

        span{
            display:none;

            @media(width >= 1400px){
                display: inline;
            }
        }
    }



    .form-container{
        flex: 0.7;

        #subscribe-form{
            display:flex;
            

            .input-container{
                position:relative;

                i{
                    position: absolute;
                    top: 18px;
                    left: 12px;
                }
            }

            .btn{
                position:relative;

            }
        }
    }


    
}



form{
    input{
        border-radius: 8px 0 0 8px;
        border: solid var(--border-color);
        border-width: 1px 0 1px 1px;
        outline: none;
        padding: 1rem 2rem;
        font-size: 1em;
        width: 100%;

    }

    .btn{
        border-radius: 0 8px 8px 0;
        border: none;
        outline: none;
        padding: 1rem 2rem;
        font-size: 1em;
        color: #ffffff;

    }
}






.arrow{
    size: 1rem;
}



input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 46px;
	height: 24px;
	background: #9397AD;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--button-color);
}

input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

label:active:after {
	width: 30px;
}



