@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


:root{
    --background-color: #ffffff;
    --section-background-color: #F3F6FF;
    --text-color: #565973;
    --muted-text-color: #9397AD;
    --headline-color: #0B0F19;
    --border-color: #E2E5F1;


    --button-color: #6366F1;
    --link-color: #6366F1;
    --green-link-color: #2CD9A1;
}


[data-theme="dark"]{
    --background-color: #0B0F19;
    --section-background-color: #080032;
    --text-color: #ffffff;
    --headline-color: white;
    --button-color: pink;

}


html, body {
    background-color: var(--background-color);
    color:var(--text-color);
    
    font-family: "Manrope";
}


h1,h2,h3,h4,h5{
    color: var(--headline-color);
    font-family: "Manrope";
}

h1{
    font-weight: 800;
    font-size: 56px;
}

h2{
    font-weight: 800;
    font-size: 40px;
}

h3{
    font-weight: 800;
    font-size: 20px;
}

h4{
    font-weight: 800;
    font-size: 24px;
}

h5{
    font-weight: 800;
    font-size: 32px;
}


p{
    font-family: "Manrope";
    font-weight: 400;
    font-size: 18px;
    color:var(--text-color)
}


a{
    color: var(--link-color);
    text-decoration: none;

    transition: all 0.15s ease-in-ease-out;

    &:hover{
        text-decoration: underline;
        transition: all 0.15s ease-in-ease-out;
    }
}




.wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;

    @media(width >= 768px)
    {
        width: 720px;
    }

    @media(width >= 1400px)
    {
        width: 1320px;
    }
}



header{
    .container{
        padding: 10px;
        display: grid;
        gap: 2rem;
        align-items: center;
        grid-template-columns: 1fr auto auto;
        grid-template-areas: "logo darkmode hamburger";

        @media(width >= 768px){
            grid-template-columns: 1fr auto auto;
            grid-template-areas: "logo darkmode hamburger";
        }

        @media(width >= 1400px){
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo nav darkmode account";
        }
    }


    .logo{
        grid-area: logo;
        display:flex;
        align-items:center;
        gap:0.5rem;
        color: var(--headline-color);
        font-size: 900;
    }


    .main-nav{
        grid-area: nav;
        display: none;

        align-items: center;
        gap: 0.5rem;

        @media(width >= 1400px){
            display:flex;
        }
    }


    .darkmode{
        grid-area: darkmode;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        
        .switch-text{
            display: none;

            @media(width >= 768px){
                display: flex;
            }
        }
    }


    .account-button {
        grid-area: account;
        display: none;

        .person{

        }

        @media(width >= 1400px){
            display:block;
        }
    }


    .hamburger-button{
        grid-area: hamburger;
        display: block;  

        @media (width >= 1400px){
            display: none;
        }
    }
}



footer{
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 400px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 75px 0;
    text-align: center;
    color: var(--muted-text-color);
}


button{
    border-color: transparent;
    background-color: transparent;
    cursor:pointer;
}


.button{
    background-color: var(--button-color);
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.button:hover{
    background-color: violet;
}




section{

}

#manage-section{
    display:flex;
    text-align: center;

    .phones1{
        display:none;
        height: 688px;
        width: 736px;

        align-items: flex-end;
        justify-content: flex-end;

        @media(width >= 768px){
            display: flex;
        }
    }

    @media(width >= 768px){
        text-align: left;
    }
}



#features-section{
    padding: 0 0;
    height: auto;


    @media(width >= 768px){
        padding: 100px 0;
    }


    .brands{
        display: none;
        align-items: center;
        justify-content: space-between;
    
    
        .brand{
            border: 1px solid var(--border-color);
            border-radius: 8px;
            height: 100px;
            width: 196px;
            display:flex;
            justify-content: center;
            align-items: center;
    
        }
        
        @media (width >= 768px){
            display: flex;
            flex-flow: row wrap;
    
            @media (width >= 1400px){
                display: flex;
                flex-direction: row;
            }
        }
    }


    .features-body{
        gap: 190px;
        display:flex;

        @media(width >= 768px){
            padding: 110px 0;
        }

        
    }



    .features-phone{
        display:none;

        @media(width >= 1400px){
            display: flex;
        }
    }



    .features-info{
        display:flex;
        flex-direction: column;
    }


    .features-title{
        text-align: center;
        @media(width >= 768px){
            text-align: left;
        }
    }


    .features-table{
        display: flex;
        flex-flow: row wrap;
        
        p{
            font-size: 16px;
            color:var(--text-color)
        }

        justify-content: center;
        align-items: center;

        @media(width >= 768px){
            justify-content: space-between;
            align-items: center;
        }
    }


    .feature{
        display:flex;
        flex-flow: row wrap;
    }

    .feature-text{
        display:flex;
        flex-flow: column wrap;
        width:261px;


        p{
            display: flex;
            flex-flow: row wrap;
        }
    }
}




#how-does-it-work-section{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: var(--section-background-color);
    text-align: center;
    

    .image-slider{
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }



    p{
        font-size:16px;
    }
}



#money-transfer-section{
    padding: 4rem 0;
    display:none;

    .container{
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "column column";


        .column{
            display:flex;
            justify-content: center;
            align-items: center;
            

            .content{
                width:60%;
            }
        }
    }

    .section-title{
        h2{
            font-size: 24px;
        }
    }

    .section-body{
        ul{
            li{

            }
        }
    }

    @media(width >= 768px){
        display:flex;
    }
}



#clients-section{
    display:none;
    background-color: var(--section-background-color);
    padding: 100px 0;

    @media(width >= 768px){
        display:flex;
    }
}

.subscribe-bar{
    background-color: var(--section-background-color);
    padding: 100px 0;
    display: grid;
    
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .subscribe-form{
        display:flex;
        gap: 1rem;
    }
}



.arrow{
    size: 1rem;
}



input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 46px;
	height: 24px;
	background: #9397AD;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--button-color);
}

input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

label:active:after {
	width: 30px;
}



